SQUAD_SECRET_KEY=sandbox_sk_
SQUAD_URL=https://sandbox-api-d.squadco.com/payout/transfer
SQUAD_MERCHANT_ID=  # Replace with YOUR actual Merchant ID

# App Secrets
SECRET_KEY=vhm_sentinel_super_secret_2026

# Frontend URL (For CORS)
FRONTEND_URL=http://localhost:3000

# Africa's Talking Config
AT_USERNAME=sandbox
AT_API_KEY=atsk_

DATABASE_URL=postgresql://

--- CROSS-ORIGIN RESOURCE SHARING (CORS) ---

The URL where your Next.js frontend is running

FRONTEND_URL=http://localhost:3000

RENDER_POSTGRES_URL_INTERNAL=postgresql://

RENDER_POSTGRES_URL_EXTERNAL=postgresql://

BACKEND_URL=https://xxx_xxxxxxxx.onrender.com
