--- SQUAD API CONFIGURATION (SANDBOX) ---

Get these from your Squad Sandbox Dashboard

SQUAD_SECRET_KEY=sandbox_sk_f7e29251d95431e7b0682b0b5e6041d98aebd4e26e12
SQUAD_URL=https://sandbox-api-d.squadco.com/payout/transfer
SQUAD_MERCHANT_ID=SBN4LWA2ML

--- APP SECURITY ---

A random string for JWT or session signing (if applicable)

SECRET_KEY=vhm_sentinel_super_secret_2026

--- DATABASE ---

Currently using In-Memory Mock DB. Placeholder for future scale.

DATABASE_URL=postgresql://vhm_sentinel_user:KpnDHTgd9IzfhwH9H5crprMbxOY3HYHJ@dpg-d83f1cn7f7vs7392gnmg-a/vhm_sentinel

--- CROSS-ORIGIN RESOURCE SHARING (CORS) ---

The URL where your Next.js frontend is running

FRONTEND_URL=http://localhost:3000

RENDER_POSTGRES_URL_INTERNAL=postgresql://vhm_sentinel_user:KpnDHTgd9IzfhwH9H5crprMbxOY3HYHJ@dpg-d83f1cn7f7vs7392gnmg-a/vhm_sentinel

RENDER_POSTGRES_URL_EXTERNAL=postgresql://vhm_sentinel_user:KpnDHTgd9IzfhwH9H5crprMbxOY3HYHJ@dpg-d83f1cn7f7vs7392gnmg-a.oregon-postgres.render.com/vhm_sentinel

BACKEND_URL=https://vhm-sentinel.onrender.com